table {
  border-collapse: collapse;
}

table th, table td {

  table-layout: fixed;
  word-wrap: break-word;
}

.b {
  background-color: #c9c9c9;
  width: 100px;
}

.e {
  width: 220px;
}

.br{
      page-break-after: always; 
}

html {
  font-family: 'IPAexゴシック', 'IPA Pゴシック', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'MS Pゴシック', sans-serif;
}