// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1, h2, h3, h4, h5 {
  border-style: dotted;
  border-width: 1px;
}

div, p {
  border-style: solid;
  border-width: 1px;
}


body {
  background-color: #f0f8ff; 
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

div.blog-panel {
  height: 200px;
}

div.blog-panel {
  height: 500px;
  margin: 20px 0;
  padding: 10px;
}


.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

header {
  background-color:#a3d1ff;
}

footer {
  width: 100%;
  background-color:#a3d1ff;
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  font-size: 12px;


}